<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/cb31dde8-eff1-4b9b-b9aa-ab66ccb67712/resourcegroups/LUS-Project/providers/Microsoft.Web/sites/LusProjectApi</ResourceId>
    <ResourceGroup>LUS-Project</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://lusprojectapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/cb31dde8-eff1-4b9b-b9aa-ab66ccb67712/resourceGroups/LUS-Project/providers/Microsoft.ContainerRegistry/registries/lusproject</ContainerResourceId>
    <ContainerResourceName>lusproject</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://lusproject.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>799bd93b-80c2-40e5-9edb-6982d3951a8a</ProjectGuid>
  </PropertyGroup>
</Project>